<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> @Html.ActionLink("Home", "ZDHome", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENTRY RESULT <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink("DAILY RESULT", "Create", "DailyDatas") </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESULTS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink("INT PERFORMANCE", "IntPerformance", "Report") </li>
                        <li> @Html.ActionLink("TOP TEN WORLD", "TopTenWorld", "Report") </li>
                        <li> @Html.ActionLink("TOP TEN - OZ/NZ", "TopTenCountry", "Report") </li>
                        <li> @Html.ActionLink("WEEKLY BEST REGION", "WeeklyBestRegion", "Report") </li>
                        <li> @Html.ActionLink("WEEKLY SALES STATS", "WeeklySalesStats", "Report") </li>
                        <li> @Html.ActionLink("WEEKLY PERFORMANCE", "WeeklyPerformance", "Report") </li>
                        <li> @Html.ActionLink("TOP GUNS NIGHTLY", "TopGunsNightly", "Report") </li>
                        <li> @Html.ActionLink("NIGHTLY PERFORMACE", "NightlyPerformance", "Report") </li>
                    </ul>
                </li>
                <li>@Html.ActionLink("LOGOFF", "LogOff", "Account")</li>
            </ul>

        </div>

    </div>
</div>
