@model ICTProject.Models.DBC.SdcDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SdcDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTeamCoordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTeamCoordinator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFullTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFullTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SdcDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
